/* SIDE BAR STYLES */
.sidenav {
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border: 1px solid gray;
  }
  
.sidenav li:hover {
  cursor: pointer;
  background-color: rgb(171, 168, 180);
}
/* END SIDE BAR STYLES */

/* DISPLAYING THE NUMBERS */
.displayNumbers div {
  padding: 0 5%;
}

.displayNumbers div h6 {
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
}

/* END DISPLAYING THE NUMBERS */

/* DISPLAYING THE STATES */
.displayStates {
  overflow-y: scroll;
  height: 850px;
}

ul {
  margin: 0;
}

ul li {
  padding: 10px;
}
/* END DISPLAYING THE STATES */

/* SCROLLBAR STYLES */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(119, 113, 113, 0.644); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/* END SCROLLBAR STYLES */

@media only screen and (max-width: 600px) {
  .displayStates {
    overflow-y: scroll;
    height: 200px;
  }
}