.card {
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 1px solid #dddddd;
    background-color: #49609e;
  }

table > thead > tr > th {
  background-color: #49609e;
  color: white;
}

table tr td:hover {
  cursor: pointer;
}

table.striped > tbody > tr:nth-child(even){
  background-color: #8aa0df;
}


input[type=text]:not(.browser-default) {
  outline: gray;
  margin: 1rem 0;
  padding: 0 1rem;
  width: fit-content;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  /* background-color: gold;  */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(65, 49, 49);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #49609e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: -10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media(max-width: 600px) {
  .table-height {
    height: 500px;
    overflow-y: scroll;
  }
}